@use "sass:map";
@import "style/pages/theme";

$bannerImg: "/assets/users/images/hero/banner.png";
.container {
  max-width: 1200px !important;
  .hero__search__container {
    .hero__item {
      background-image: url($bannerImg);
      background-size: cover;
      height: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      // padding-left: 75px;

      .hero__text {
        padding-left: 100px;

        span {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 4px;
          color: map.get($theme-colors, "main");
        }

        h2 {
          font-size: 45px;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 52px;
          color: map.get($theme-colors, "bold-text");
          margin: 10px 0;
        }

        p {
          font-size: 16px;
          color: #6f6f6f;
          font-weight: 400;
          line-height: 26px;
          margin: 0 0 15px 0;
        }

        a {
          display: inline-block;
          font-size: 14px;
          padding: 10px 28px 10px;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          background: map.get($theme-colors, "main");
          letter-spacing: 2px;
          text-decoration: none;
        }
      }
    }
  }
}

.container__categories_slider {
  max-width: 1200px !important;
  margin-top: 30px !important;

  .categories_slider {
    margin-bottom: 30px;
    .categories_slider_item {
      height: 300px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 5px;

      p {
        position: absolute;
        left: 5%;
        bottom: 20px;
        text-align: center;
        font-size: 18px;
        color: map.get($theme-colors, "normal-text");
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;
        cursor: pointer;

        &:hover {
          background: rgb(237, 237, 237);
        }
      }
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

// scss feature
.container__temp {
  max-width: 1200px !important;
}

.feature {
  margin-top: 50px;

  .section-title {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      position: relative;
    }

    h2:after {
      position: absolute;
      left: 0;
      bottom: -15px;
      right: 0;
      height: 4px;
      width: 100px;
      background: map.get($theme-colors, "main");
      content: "";
      margin: 0 auto;
    }
  }

  .react-tabs__tab {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .react-tabs__tab:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 50px;
    background: map.get($theme-colors, "main");
    content: "";
    margin: 0 auto;
  }

  .react-tabs__tab:hover {
    overflow: visible;
  }

  .react-tabs {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    li {
      list-style: none;
      font-size: 18px;
      color: map.get($theme-colors, "normal-text");
      display: inline-block;
      margin-right: 25px;
      position: relative;
      cursor: pointer;
    }
  }

  .featured__item {
    margin-bottom: 50px;
    padding: 5px;

    &:hover {
      .featured__item__pic__hover {
        bottom: -15% !important;
      }
    }

    .featured__item__pic {
      height: 270px;
      position: relative;
      overflow: hidden;
      background-position: center;
      background-size: cover;

      ul {
        position: absolute;
        left: 0;
        bottom: -40%;
        width: 100%;
        text-align: center;
        transition: all 0.5s ease-in;

        li {
          list-style: none;
          display: inline-block;
          margin-right: 10px;

          &:hover {
            svg {
              background: #7fad39;
              border-color: #7fad39;
              color: map.get($theme-colors, "white-text");
              transform: rotate(360deg) !important;
            }
          }

          svg {
            padding: 10px;
            height: 20px;
            width: 20px;
            border: 1px solid #ebebeb;
            background: map.get($theme-colors, "white-text");
            color: #565555;
            transition: all 0.3s;
            border-radius: 50%;
          }
        }
      }
    }

    .featured__item__text {
      text-align: center;

      h6 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;

        a {
          color: map.get($theme-colors, "normal-text");
          text-decoration: none;
        }
      }

      h5 {
        color: map.get($theme-colors, "normal-text");
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }
}

// scss banner
.banner {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}
