@use "sass:map";
@import "style/pages/theme";

.footer {
  .footer__about {
    margin-bottom: 30px;

    .footer__about__logo {
      margin-bottom: 15px;
      display: inline-block;
    }

    ul li {
      font-size: 16px;
      color: map.get($theme-colors, "normal-text");
      line-height: 36px;
      list-style: none;
    }
  }
}
