@use "sass:map";
@import "style/pages/theme";

.container__categories_slider {
  max-width: 1200px !important;
  margin-top: 10px !important;

  .categories_slider {
    margin-bottom: 30px;
    .categories_slider_item {
      height: 300px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 5px;

      p {
        position: absolute;
        left: 5%;
        bottom: 20px;
        text-align: center;
        font-size: 18px;
        color: map.get($theme-colors, "normal-text");
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;
        cursor: pointer;

        &:hover {
          background: rgb(237, 237, 237);
        }
      }
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
