@use "sass:map";
@import "theme";
@import "responsive";

html,
body {
  margin: 0;
}

* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

// goi ham responsive khi setup devices
@include Responsive($DESKTOP) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include Responsive($MEDIUM_DEVICE) {
  .col-lg-3 {
    background: red;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
